# {{ ansible_managed }}

server {
  {% if item.value.ssl is defined and item.value.ssl.enabled | default(false) %}
  listen 443 ssl spdy;
  {% else %}
  listen 80;
  {% endif %}

  server_name  {{ item.value.site_hosts | join(' ') }};
  access_log   {{ www_root }}/{{ item.key }}/logs/{{ item.key }}.access.log;
  error_log    {{ www_root }}/{{ item.key }}/logs/{{ item.key }}.error.log;

  root  {{ www_root }}/{{ item.key }}/current;
  index index.php;

  charset utf-8;


  {% if item.value.ssl is defined and item.value.ssl.enabled | default(false) %}
    {{ lookup('template', 'https.conf.j2') }}
  {% endif %}

  {% if item.value.ssl is not defined or not item.value.ssl.enabled | default(false) -%}
    include acme-challenge-location.conf;
  {% endif %}

  include includes.d/{{ item.key }}/*.conf;
  include stacey.conf;
}

{% for host in item.value.site_hosts if item.value.ssl is defined and item.value.ssl.enabled | default(False) %}
server {
  listen 80;
  server_name {{ host }} www.{{ host }};

  {% if item.value.ssl.provider | default('manual') == 'letsencrypt' -%}
  include acme-challenge-location.conf;

  location / {
    return 301 https://$host$request_uri;
  }
  {% else %}
  return 301 https://$host$request_uri;
  {% endif -%}

}
{% endfor %}
